#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 18px; 
}

#login form{
    background-color: #362E49;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    padding:  .8rem .8rem;
}

#login .field{
    padding: 0px 32px 0px 8px;
}

#login .field label{
    display:  block;
}

#login .actions{
    text-align: center;
    margin-top: 0.5rem;
}

#ou {
    font-size: 18px;
    color: white;
}