.div-img-emprestimo{ 
    float: left;
    padding-right: 64px;
} 

.imagem-emprestimo{
    width: 150px;
}

#status-up{
    color: green;
}

#status-down{
    color: yellow;
}

label{
    color: white;
}

#escopo-emprestimo{
    width: 100%;
    padding-top: 16px;
}