.body{
    padding: 80px 16px 0px 16px; 
}

#input_text {
    color: white;
    width: 100%;
    background-color: transparent;
    border: 2px white solid;
    font-size: 24px;
    border-radius: 12px;
    padding: 4px 8px;
}


#titulo_input {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#primario {
    border-radius: 10px;
    background-color: blue;
    padding: 8px 32px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    box-shadow: none;
}

#primario:hover {
    background-color: #0B4FE3;
}

#erro {
    border-radius: 10px;
    background-color: #FA0900;
    padding: 16px 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#erro:hover {
    background-color: #E3320B;
}

#terciario {
    font-size: 18px;
    font-weight: bold;
    color: white;
    box-sizing: 0px;
    margin-right: 16px;
    text-decoration: none;

}

#terciario:hover {
    color: dodgerblue;
}


.loading{
    left: 50%;
    top: 50%;  
    position: absolute;   
}